<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <form action="" method="get">
        <input type="text" name="q" placeholder="Cari...">
        <input type="number" name="page" placeholder="Halaman">
        <input type="number" name="perPage" placeholder="Hasil per Halaman">
        <input type="submit" value="Cari">
    </form>

    <ul id="search-results"></ul>
 
    <script src="./index.js"></script>
</body>
</html>